:root {
  --font-shareTech: 'Share Tech Mono', monospace;
}

body {
  font-family: 'Share Tech Mono', monospace;
}

.section-container {
  text-align: center;
  //   display: flex;
  //   flex-direction: column;
  //   align-content: center;
}

.clocks-container {
  //   display: flex;
  //   flex-direction: column;
  //   align-content: center;
}
